<div class="window" style="width: 400px;">
  <div class="title-bar">
    <div class="title-bar-text">Audit Management and Certification System - Login</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <form (ngSubmit)="login()">        
        <div class="field-row-stacked" style="width: 100%">
          <label for="login_username">Username</label>
          <input name="username" type="text" id="login_username" 
            placeholder="Username" [(ngModel)]="user.username">
        </div>        
        <div class="field-row-stacked" style="width: 100%">
          <label for="login_password">Password</label>
          <input name="password" type="password" id="login_password" 
            placeholder="Password" [(ngModel)]="user.password">
        </div>
        <div class="field-row-stacked" style="width: 100%">
          <button type="submit">LOG IN</button>
        </div>
      </form>
  </div>
</div>
<div>  
  <div *ngIf="this.token.errors"> {{ this.token.errors }} </div>
</div>