<div class="window" style="width: 600px">
  <div class="title-bar">
    <div class="title-bar-text">
      Audit Management and Certification System Dashboard
    </div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <ul>
      <li>Contracts</li>
      <li>Quotations</li>
      <li>Audits</li>
      <li>Audit Teams</li>
      <li>Certifications</li>  
      <li><a (click)="logout()" href="#">Logout</a></li>
    </ul>
  </div>
</div>